<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:replace="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- 카메라 권한 (QR 스캔용) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 네트워크 상태 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="Mowa"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ▼▼▼ 추가: Kakao 로그인 리다이렉트 액티비티 ▼▼▼ -->
        <!-- scheme = "kakao" + 네이티브 앱 키 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakao18d5491dcb17889f5104e34baebc078f" android:host="oauth" />
            </intent-filter>
        </activity>
        <!-- ▲▲▲ 추가 끝 ▲▲▲ -->

        <!-- ▼▼▼ 추가: Naver 로그인 메타데이터 (@string 참조) ▼▼▼ -->
        <meta-data android:name="com.naver.sdk.clientId" android:value="@string/client_id" />
        <meta-data android:name="com.naver.sdk.clientSecret" android:value="@string/client_secret" />
        <meta-data android:name="com.naver.sdk.clientName" android:value="@string/client_name" />
        <!-- ▲▲▲ 추가 끝 ▲▲▲ -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>