<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mowa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>gachiganjik_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.573789200095-o8a5rt5q1gn4rqjku7vvca51rs0ravil</string>
          <string>kakao18d5491dcb17889f5104e34baebc078f</string>
          <string>gachiganjiknaver</string>                                <!-- Naver -->
        </array>
      </dict>
    </array>

    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>kakaokompassauth</string>
      <string>kakaotalk</string>
      <string>kakaolink</string>
      <string>naversearchapp</string>
      <string>naversearchthirdlogin</string>
    </array>

    <key>NidUrlScheme</key><string>gachiganjiknaver</string>
    <key>NidClientID</key><string>DC8TqAJ2FusU8jkXv9hs</string>
    <key>NidClientSecret</key><string>$(NID_CLIENT_SECRET)</string>
    <key>NidAppName</key><string>모와</string>

    <key>GIDClientID</key><string>573789200095-o8a5rt5q1gn4rqjku7vvca51rs0ravil.apps.googleusercontent.com</string>

	<!-- 카메라 권한 -->
    <key>NSCameraUsageDescription</key>
    <string>사진을 촬영 또는 QR 코드 스캔을 위해 카메라 접근이 필요합니다.</string>

    <!-- 사진 라이브러리 권한 -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>사진을 선택하여 앨범에 업로드합니다</string>

    <!-- 사진 저장 권한 -->
    <key>NSPhotoLibraryAddUsageDescription</key>
        <string>사진을 갤러리에 저장하기 위해 접근이 필요합니다</string>

</dict>
</plist>
